# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*~
*.o
*.ex
*.so

# PyCTest
CTestConfig.cmake
CTestCustom.cmake
CTestTestfile.cmake
Init.cmake
Stages.cmake
Testing
Utilities.cmake

# IDE files
/CMakeLists.txt.user*
/.vscode
/*.nja
settings.json

# build directories
/build*

# miscellaneous
*timemory*output*

# macOS Finder files
.DS_Store
